@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Members of section</h2>
<hr />

<form method="post">
    <div>
        <div>
            <label asp-for="@Model.SectionId" class="control-label"></label>
            <select asp-for="SectionId" class="form-control" asp-items="@Model.SectionItems"></select>
            <input asp-for="@Model.SectionId" type="hidden" />
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].CountSections)
            </th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.Members != null)
            {
                foreach (var item in Model.Members)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CountSections)
                        </td>
                        <td>
                            <a asp-page="/Members/Edit" asp-route-id="@item.MemberId">Edit Member</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    function DoPostBack() {
        document.formIndex.submit();
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
